<div class="container">
  <h2>Mi Agenda</h2>
  
  <div class="search-bar">
    <label>Buscar por Fecha:</label>
    <input type="date" [(ngModel)]="fechaSeleccionada" (change)="cargarAgenda()">
  </div>

  <div class="agenda-list">
    <div *ngFor="let b of bloques" class="bloque-item" [ngClass]="{'disponible': b.disponible}">
      <div class="hora">{{ b.hora }}</div>
      
      <div class="contenido">
        @if (!b.disponible) {
          <div class="cita-ocupada" [style.border-left-color]="b.disponible ? 'transparent' : (b.hora === '09:00 AM' ? '#6366f1' : '#22c55e')">
            <strong>{{ b.nombreMascota }}</strong> . {{ b.razaMascota }} (Prop: {{ b.nombrePropietario }})
            <p>{{ b.motivoConsulta }}</p>
            <button [class]="b.hora === '12:00 PM' ? 'btn-primary' : 'btn-outline'">
            {{ b.hora === '12:00 PM' ? 'Realizar Consulta' : 'Ver Ficha' }}
            </button>
          </div>
        } @else {
          <div class="bloque-libre">Bloque Libre / Sin Cita Programada</div>
        }
      </div>
    </div>
  </div>
</div>