<div class="login-container">
  <div class="login-card">
    <img src="https://res.cloudinary.com/dfid8iuf3/image/upload/v1782138519/vitalvetlogo2_Mesa_de_trabajo_1_ijr8op.png"
      alt="Logo Vital Vet" class="login-logo">
    <p>Cuidando a los que más amamos</p>

    <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 2.5rem; gap: 10px;">
      <div [style.background]="pasoActual >= 1 ? '#0f766e' : '#e2e8f0'"
        style="width: 12px; height: 12px; border-radius: 50%;"></div>
      <div [style.background]="pasoActual >= 2 ? '#0f766e' : '#e2e8f0'"
        style="width: 12px; height: 12px; border-radius: 50%;"></div>
      <div [style.background]="pasoActual === 3 ? '#0f766e' : '#e2e8f0'"
        style="width: 12px; height: 12px; border-radius: 50%;"></div>
    </div>

    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">

      @if (pasoActual === 1) {
      <div formGroupName="datosCliente">
        <div class="form-group">
          <label>Correo Electrónico</label>
          <input type="email" formControlName="email">
          @if (registroForm.get('datosCliente.email')?.hasError('required') &&
          registroForm.get('datosCliente.email')?.touched) { <small class="error-message">El correo electrónico es
            obligatorio.</small> }
          @if (registroForm.get('datosCliente.email')?.hasError('email') &&
          registroForm.get('datosCliente.email')?.touched) { <small class="error-message">Ingresa un correo electrónico
            válido.</small> }
        </div>

        <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 1rem;">
          <div class="form-group">
            <label>Contraseña</label>
            <input type="password" formControlName="contrasenia">
            @if (contraseniaControl?.hasError('required') && contraseniaControl?.touched) { <small
              class="error-message">La contraseña es obligatoria.</small> }
            @else if (contraseniaControl?.hasError('minlength') && contraseniaControl?.touched) { <small
              class="error-message">Mínimo 6 caracteres.</small> }
          </div>
          <div class="form-group">
            <label>Confirmar Contraseña</label>
            <input type="password" formControlName="confirmarContrasenia">
            @if (registroForm.get('datosCliente.confirmarContrasenia')?.hasError('required') &&
            registroForm.get('datosCliente.confirmarContrasenia')?.touched) { <small class="error-message">Debes
              confirmar.</small> }
            @else if (contraseniaNoCoincide) { <small class="error-message">Las contraseñas no coinciden.</small> }
          </div>
        </div>
      </div>
      }

      @if (pasoActual === 2) {
      <div formGroupName="datosCliente">
        <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 1rem;">
          <div class="form-group"><label>Nombres</label><input type="text" formControlName="nombres"></div>
          <div class="form-group"><label>Apellidos</label><input type="text" formControlName="apellidos"></div>
        </div>
        <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 1rem;">
          <div class="form-group">
            <label>DNI</label>
            <input type="text" formControlName="dni" maxlength="8">

            @if (registroForm.get('datosCliente.dni')?.hasError('required') &&
            registroForm.get('datosCliente.dni')?.touched) {
            <small class="error-message">El DNI es obligatorio.</small>
            }

            @if (registroForm.get('datosCliente.dni')?.hasError('pattern') &&
            registroForm.get('datosCliente.dni')?.touched) {
            <small class="error-message">El DNI debe tener 8 dígitos exactos.</small>
            }
          </div>
          <div class="form-group"><label>Celular</label><input type="text" formControlName="celular"></div>
        </div>
        <div class="form-group">
          <label>Género</label>
          <select formControlName="genero" class="form-select">
            <option value="MASCULINO">Masculino</option>
            <option value="FEMENINO">Femenino</option>
            <option value="NO_ESPECIFICADO">No especificado</option>
          </select>
        </div>
      </div>
      }

      @if (pasoActual === 3) {
      <div formGroupName="datosMascota">
        <div class="form-group">
          <label>Nombre de tu Mascota</label>
          <input type="text" formControlName="nombreMascota">
          @if (registroForm.get('datosMascota.nombreMascota')?.hasError('required') &&
          registroForm.get('datosMascota.nombreMascota')?.touched) { <small class="error-message">Nombre
            obligatorio.</small> }
        </div>
        <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 1rem;">
          <div class="form-group">
            <label>Especie</label>
            <select formControlName="idEspecie" class="form-select">
              <option [ngValue]="null">Seleccione...</option>
              @for (especie of especies; track especie.idEspecie) { <option [value]="especie.idEspecie">{{
                especie.nombreEspecie }}</option> }
            </select>
          </div>
          <div class="form-group">
            <label>Raza</label>
            <select formControlName="idRaza" class="form-select">
              <option [ngValue]="null">Seleccione...</option>
              @for (raza of razasFiltradas; track raza.idRaza) { <option [value]="raza.idRaza">{{ raza.nombreRaza }}
              </option> }
            </select>
          </div>
        </div>
        <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 1rem;">
          <div class="form-group"><label>Sexo</label><select formControlName="sexo" class="form-select">
              <option value="HEMBRA">Hembra</option>
              <option value="MACHO">Macho</option>
            </select></div>
          <div class="form-group"><label>Fecha de Nacimiento</label><input type="date" formControlName="fechaNacimiento"
              [max]="fechaMaxima"></div>
        </div>
      </div>
      }

      <div style="display: flex; gap: 10px; margin-top: 1rem;">
        @if (pasoActual > 1) { <button type="button" (click)="pasoAnterior()" class="btn-cancel">Anterior</button> }
        @if (pasoActual < 3) { <button type="button" (click)="siguientePaso()" class="btn-confirm"
          [disabled]="pasoActual === 1 ? paso1Invalido : paso2Invalido">Siguiente</button>
          }
          @else {
          <button type="submit" [disabled]="registroForm.invalid" class="btn-login">Finalizar Registro</button>
          }
      </div>
    </form>

    <div class="login-footer" style="margin-top: 1.5rem;">
      <a routerLink="/login">¿Ya tienes cuenta? Iniciar Sesión</a>
    </div>
  </div>
</div>