<nav class="sidebar">
  <div class="logo-container">
    <img src="https://res.cloudinary.com/dfid8iuf3/image/upload/v1782138519/vitalvetlogo2_Mesa_de_trabajo_1_ijr8op.png"
         alt="Logo Vital Vet"
         class="brand-logo">
  </div>

  <ul>
    @for (item of filteredMenuItems(); track item.route) {
      <li>
        <a [routerLink]="item.route" routerLinkActive="active-link">
          <lucide-icon [name]="item.icon" class="menu-icon"></lucide-icon>
          <span class="menu-label">{{ item.label }}</span>
        </a>
      </li>
    }
  </ul>
</nav>
