<div class="container" *ngIf="!cargando && datos">
  <header class="dashboard-header">
    @if(usuario){
      <h1>¡Bienvenido(a), {{ usuario.nombres }}!</h1>
    }

    <p>Resumen general de la clínica al día de hoy.</p>
  </header>

  <div class="stats-grid">
    <div class="stat-card">
      <small>Ingresos Hoy</small>
      <div class="stat-value">{{ datos.ingresosTotalesHoy | currency:'PEN':'S/ ' }}</div>
    </div>
    <div class="stat-card">
      <small>Citas Programadas</small>
      <div class="stat-value">{{ datos.cantidadCitasHoy }}</div>
    </div>
    <div class="stat-card">
      <small>Pacientes Registrados</small>
      <div class="stat-value">{{ datos.cantidadPacientesRegistrados }}</div>
    </div>
  </div>

  <section class="content-card">
    <h2>💵 Últimos Pagos Recibidos</h2>
    <table class="citas-table">
      <thead>
        <tr>
          <th>CLIENTE</th>
          <th>CÓDIGO</th>
          <th>MÉTODO</th>
          <th>TOTAL</th>
        </tr>
      </thead>
      <tbody>
        @for (pago of datos.ultimosPagos; track pago.codigoComprobante) {
        <tr>
          <td><strong>{{ pago.nombreCliente }}</strong></td>
          <td>{{ pago.codigoComprobante }}</td>
          <td><span class="badge">{{ pago.metodoPago }}</span></td>
          <td><strong>{{ pago.montoTotal | currency:'PEN':'S/ ' }}</strong></td>
        </tr>
        }
      </tbody>
    </table>
  </section>
</div>