<div class="container">
  <div class="header">
    <h2>Reservar Nueva Cita</h2>
  </div>

  <form [formGroup]="formulario" class="form-container">
    <div class="grid-layout">
      
      <div class="form-group">
        <label>Veterinario</label>
        <select formControlName="idVeterinario" (change)="cargarHorariosVeterinario(); cargarSlots()">
            <option value="" disabled>Seleccione especialista...</option>
            @for (v of veterinarios; track v.idVeterinario) {
                <option [value]="v.idVeterinario">{{v.nombres}} {{v.apellidos}} - {{v.especialidad}}</option>
            }
        </select>
      </div>

      @if (horariosVeterinario.length > 0) {
    <div class="turnos-box full-width">
        <h4 class="turnos-title">TURNOS SEMANALES DEL ESPECIALISTA</h4>
        <div class="turnos-grid" style="display: flex; flex-wrap: wrap; gap: 10px; margin-top: 8px;">
            @for (h of horariosVeterinario; track h.idHorario) {
                <span class="badge-pagada">
                    {{ h.diaSemana | titlecase }} ({{ h.horaInicio }} - {{ h.horaFin }})
                </span>
            }
        </div>
    </div>
  }

      <div class="form-group">
        <label>Mascota</label>
        <select formControlName="idMascota">
          <option value="" disabled>Mis mascotas...</option>
          @for (m of mascotas; track m.idMascota) {
            <option [value]="m.idMascota">{{m.nombreMascota}} ({{m.nombreRaza}})</option>
          }
        </select>
      </div>

      <div class="form-group">
        <label>Fecha de Cita</label>
        <input type="date" formControlName="fecha" (change)="cargarSlots()">
      </div>

      <div class="form-group full-width">
        <label>Motivo</label>
        <textarea formControlName="motivo" rows="2" placeholder="Breve motivo de la consulta..."></textarea>
      </div>

      <div class="form-group full-width">
        <label>Horarios Disponibles</label>
        <div class="slots-container">
          @for (s of slots; track s.hora) {
            <button type="button" 
                    [class.selected]="formulario.value.hora === s.hora"
                    [disabled]="!s.disponible"
                    (click)="formulario.patchValue({hora: s.hora})" 
                    class="btn-slot">
              {{ s.hora }}
            </button>
          }
        </div>
      </div>
    </div>

    <button type="button" class="btn-primary" (click)="mostrarModalPago = true">
      Reservar y Pagar S/ {{montoFijo}}
    </button>
  </form>
</div>


@if (mostrarModalPago) {
  <div class="modal-overlay" (click)="mostrarModalPago = false">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <h3>Paso 2: Checkout</h3>
      
      <div [formGroup]="formulario">
        <h4>INFORMACIÓN DE PAGO</h4>
        
        <div class="card-simulation">
          <div class="form-group">
            <label>Número de Tarjeta</label>
            <input type="text" formControlName="numeroTarjeta" placeholder="1234567890123456">
          </div>
          
          <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 15px;">
            <div class="form-group">
              <label>Expira</label>
              <input type="text" formControlName="expira" placeholder="MM/YY">
            </div>
            <div class="form-group">
              <label>CVC</label>
              <input type="text" formControlName="cvc" placeholder="***">
            </div>
          </div>
        </div>

        <div class="form-group" style="margin-top: 1rem;">
          <label>Tipo de Comprobante</label>
          <select formControlName="tipoDocumento">
            <option value="BOLETA">Boleta</option>
            <option value="FACTURA">Factura</option>
            <option value="RECIBO_INTERNO">Recibo Interno</option>
          </select>
        </div>
      </div>

      <div class="modal-actions">
        <button class="btn-cancel" (click)="mostrarModalPago = false">Cancelar</button>
        <button class="btn-primary" style="width: 100%;" (click)="confirmarCita()">Pagar y Confirmar</button>
      </div>
    </div>
  </div>
}