<div class="container">
  <div class="header">
    <h2>Lista de Veterinarios</h2>
    <span class="badge-pagada">{{ veterinarios.length }} Registrados</span>
    <button class="btn-primary" (click)="abrirModalRegistro()">+ Registrar Veterinario</button>
  </div>

  <div class="controls-bar">
    <div class="search-container" style="position: relative; width: 350px;">
      <input type="text" [formControl]="searchControl" placeholder="Buscar por DNI o nombres..." style="width: 100%;">
    </div>
  </div>

  <table class="citas-table">
    <thead>
      <tr>
        <th>FOTO</th>
        <th>VETERINARIO</th>
        <th>DNI</th>
        <th>Nº COLEGIATURA</th>
        <th>ESPECIALIDAD</th>
        <th>ESTADO</th>
        <th>ACCIONES</th>
      </tr>
    </thead>
    <tbody>
      @for (v of veterinarios; track v.idVeterinario) {
        <tr>
          <td><img [src]="v.fotoUrl" class="avatar-sm" alt="Foto"></td>
          <td>
            <strong>{{ v.nombres }} {{ v.apellidos }}</strong><br>
            <small style="color: #64748b;">{{ v.email }}</small>
          </td>
          <td>{{ v.dni }}</td>
          <td>{{ v.nroColegiatura }}</td>
          <td>{{ v.especialidad }}</td>
          <td>
            <span [class]="v.activo ? 'badge-pagada' : 'badge-pendiente'">
              {{ v.activo ? 'Activo' : 'Inactivo' }}
            </span>
          </td>
          <td>
            <button class="btn-outline" [routerLink]="['/veterinarios/horarios', v.idVeterinario]">Horarios</button>
            <button class="btn-outline" (click)="abrirModalEdicion(v.idVeterinario)">Editar</button>
            <button class="btn-outline" (click)="cambiarEstado(v)">
              {{ v.activo ? 'Desactivar' : 'Activar' }}
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

@if (mostrarModal) {
  <app-veterinario-modal 
    [veterinarioId]="veterinarioIdSeleccionado"
    (cerrar)="mostrarModal = false"
    (operacionExitosa)="onOperacionExitosa()">
  </app-veterinario-modal>
}