<div class="container">
  <div class="header">

    <div class="header-title">
      <h2>Pagos de Cita</h2>
      <span class="badge-pagada">
        {{ comprobantes.length }} registrados
      </span>
    </div>


  </div>

  <form [formGroup]="filtroForm" class="controls-bar">
    <div class="filter-group">
      <select formControlName="tipo">
        <option value="">Todos los tipos</option>
        <option value="BOLETA">Boleta de Pago</option>
        <option value="FACTURA">Factura</option>
      </select>
      <input type="date" formControlName="inicio">
      <input type="date" formControlName="fin">
      <button type="button" class="btn-primary" (click)="cargarComprobantes()">Filtrar</button>
      <button type="button" class="btn-outline" (click)="limpiarFiltros()">Limpiar</button>
    </div>
  </form>

  <table class="citas-table">
    <thead>
      <tr>
        <th>DOCUMENTO / SERIE</th>
        <th>CLIENTE</th>
        <th>FECHA DE PAGO</th>
        <th>MEDIO DE PAGO</th>
        <th>MONTO TOTAL</th>
        <th>ACCIONES</th>
      </tr>
    </thead>
    <tbody>
      @for (c of comprobantes; track c.idComprobante) {
      <tr>
        <td><strong>{{ c.codigoComprobante }}</strong><br><small style="color: #64748b;">{{ c.tipoComprobante }}</small>
        </td>
        <td><strong>{{ c.nombreCliente }}</strong><br><small style="color: #64748b;">DNI: {{ c.dniCliente }}</small>
        </td>
        <td>{{ c.fechaPago | date:'dd/MM/yyyy' }}<br><small style="color: #64748b;">{{ c.fechaPago | date:'shortTime'
            }}</small></td>
        <td><span class="badge-pagada">{{ c.metodoPago }}</span></td>
        <td><strong>{{ c.montoTotal | currency:'PEN':'S/ ' }}</strong></td>
        <td><button class="btn-outline" (click)="verDetalle(c.idComprobante)">Detalle</button></td>
      </tr>
      } @empty {
      <tr>
        <td colspan="6" class="text-center">No hay comprobantes encontrados.</td>
      </tr>
      }
    </tbody>
  </table>

  <div class="footer-stats">
    <p>Total Recaudado: <strong>{{ stats.total | currency:'PEN':'S/ ' }}</strong></p>
  </div>
</div>

@if (selectedComprobante) {
<div class="modal-overlay" (click)="cerrarModal()">

  <div class="modal-content" (click)="$event.stopPropagation()">

    <div class="modal-header">
      <h2>Detalle del Comprobante</h2>
      <span class="codigo-cita">{{ selectedComprobante.codigoComprobante }}</span>
    </div>

    <!-- Cliente -->
    <div class="section">

      <h3 class="section-title">Datos del Cliente</h3>

      <div class="info-row">
        <div>
          <label>Cliente</label>
          <span>{{ selectedComprobante.nombreCliente }}</span>
        </div>

        <div>
          <label>DNI</label>
          <span>{{ selectedComprobante.dniCliente}}</span>
        </div>
      </div>

    </div>

    <!-- Cita -->
    <div class="section">

      <h3 class="section-title">INFORMACIÓN DE LA CITA</h3>

      <div class="info-row">
        <div>
          <label>Código</label>
          <span>{{selectedComprobante.codigoCita}}</span>
        </div>

        <div>
          <label>Fecha</label>
          <span>{{selectedComprobante.fechaPago | date:'dd/MM/yyyy'}}</span>
        </div>
      </div>

      <div class="info-row">
        <div>
          <label>Mascota</label>
          <span>{{selectedComprobante.nombreMascota}}</span>
        </div>

        <div>
          <label>Especie</label>
          <span>{{selectedComprobante.especieMascota}}</span>
        </div>
      </div>

      <div class="info-simple">
        <label>Motivo</label>
        <span>{{selectedComprobante.motivo}}</span>
      </div>

    </div>

    <h3 class="section-title">INFORMACIÓN DE PAGO</h3>

    <!-- Pago -->
    <div class="info-row">
      <div>
        <label>Comprobante</label>
        <span>{{selectedComprobante.tipoComprobante}}</span>
      </div>

      <div>
        <label>Método</label>
        <span>{{selectedComprobante.metodoPago}}</span>
      </div>
    </div>

    <div class="info-row">
      <div>
        <label>Subtotal</label>
        <span>{{selectedComprobante.montoSubtotal | currency:'PEN':'S/ '}}</span>
      </div>

      <div>
        <label>IGV</label>
        <span>{{selectedComprobante.montoImpuesto | currency:'PEN':'S/ '}}</span>
      </div>
    </div>

    <div class="total-box">
      <span>Total Pagado</span>
      <strong>{{selectedComprobante.montoTotal | currency:'PEN':'S/ '}}</strong>
    </div>

    <div class="modal-actions">
      <button class="btn-cancel" (click)="cerrarModal()">
        Cerrar
      </button>
    </div>

  </div>

</div>
}