<div class="login-container">
  <div class="login-card">
    <img src="https://res.cloudinary.com/dfid8iuf3/image/upload/v1782138519/vitalvetlogo2_Mesa_de_trabajo_1_ijr8op.png" 
         alt="Logo Vital Vet" class="login-logo">
    <p>Cuidando a los que más amamos</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Email</label>
        <input type="email" formControlName="email" placeholder="nombre@correo.com">
      </div>

      <div class="form-group">
        <label>Contraseña</label>
        <input type="password" formControlName="contrasenia" placeholder="••••••••">
      </div>

      <button type="submit" [disabled]="loginForm.invalid" class="btn-login">
        Iniciar Sesión
      </button>
    </form>

    <div class="login-footer">
      <a (click)="abrirModalRecuperacion($event)">¿Olvidaste tu Contraseña?</a>
      <a routerLink="/registro">Crear Cuenta Nueva</a>
    </div>
  </div>
</div>

@if (mostrarModalRecuperacion) {
  <div class="modal-overlay">
    <div class="modal-box">
      <h2>Recuperar Contraseña</h2>
      <p>Ingresa el correo electrónico asociado a tu cuenta. Te enviaremos las instrucciones.</p>
      
      <div class="form-group">
        <label>Correo Electrónico</label>
        <input type="email" [formControl]="emailRecuperacion" placeholder="ejemplo@correo.com">
      </div>

      <div class="modal-actions">
        <button class="btn-cancel" (click)="cerrarModal()">Cancelar</button>
        <button class="btn-confirm" (click)="enviarEnlaceRecuperacion()" [disabled]="emailRecuperacion.invalid">
          {{ enviandoCorreo ? 'Enviando...' : 'Enviar Enlace' }}
        </button>
      </div>
    </div>
  </div>
}