<div class="container">
<div class="header">
    <div class="header-title">
        <h2>Clientes</h2>
        <span class="badge-pagada">
            {{ clientes.length }} registrados
        </span>
    </div>

    <button class="btn-primary" (click)="abrirModalRegistro()">
        + Registrar Cliente
    </button>
</div>

  <div class="controls-bar">
    <div class="search-container" style="position: relative; width: 350px;">
      <input type="text" [formControl]="searchControl" placeholder="Buscar por DNI o nombres..." style="width: 100%;">
    </div>
  </div>

  <table class="citas-table">
    <thead>
      <tr>
        <th>PROPIETARIO / CLIENTE</th>
        <th>DNI / DOCUMENTO</th>
        <th>TELÉFONO</th>
        <th>MASCOTAS</th>
        <th>ACCIONES</th>
      </tr>
    </thead>
    <tbody>
      @if (cargando) {
        <tr><td colspan="5" style="text-align: center; padding: 2rem;">Cargando información...</td></tr>
      } @else if (clientes.length === 0) {
        <tr><td colspan="5" style="text-align: center; padding: 2rem;">No se encontraron clientes.</td></tr>
      } @else {
        @for (cliente of clientes; track cliente.idPersona) {
          <tr>
            <td>
              <strong>{{ cliente.nombres }} {{ cliente.apellidos }}</strong><br>
              <small style="color: #64748b;">{{ cliente.email }}</small>
            </td>
            <td>{{ cliente.dni }}</td>
            <td>{{ cliente.celular || 'No registrado' }}</td>
            <td>
              <span class="badge-pagada">
                {{ cliente.totalMascotas }} {{ cliente.totalMascotas === 1 ? 'mascota' : 'mascotas' }}
              </span>
            </td>
            <td>
              <button class="btn-outline" (click)="abrirModalEdicion(cliente.idPersona)">Editar</button>
              <button class="btn-outline" (click)="abrirModalMascotas(cliente)">Ver Mascotas</button>
              <button class="btn-outline" >Registrar Cita</button>
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>

@if (mostrarModalCliente) {
  <app-cliente-modal [clienteId]="clienteSeleccionadoId" (cerrarModal)="cerrarModal()" (operacionExitosa)="onOperacionExitosa()"></app-cliente-modal>
}
@if (mostrarMascotasModal && clienteSeleccionadoParaMascotas) {
  <app-mascotas-lista-modal [idCliente]="clienteSeleccionadoParaMascotas.idPersona" [nombrePropietario]="clienteSeleccionadoParaMascotas.nombres + ' ' + clienteSeleccionadoParaMascotas.apellidos" [dniPropietario]="clienteSeleccionadoParaMascotas.dni" (cerrar)="cerrarModalMascotas()"></app-mascotas-lista-modal>
}